* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heroContainer {
	background-image: url('../Images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.navigationLinks {
	max-width: 1440px;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}


.navigationLinks ul {
	display: flex;
	list-style-type: none;
	font-family: 'Inter',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #18191F;
	align-items: center;
	gap: 32px;
}

.navigationLinks a {
	text-decoration: none;
	color: #18191F;
}

.heroShowcase {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.mainHero {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.heroTitle {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.heroTitle h1 {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 98px;
	color: #18191F;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 10%;
}

.heroTitle button {
	background: #8C30F5;
	border: 0;
	border-radius: 6px;
	color: white;
	width: 154px;
	height: 48px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
.logosHeroSection {
	display: flex;
	max-width: 1440px;
	gap: 64px;
	padding: 30px;
	justify-content: center;
	margin: 15px auto;
}
